<div class="breadcrum">
  <li><a href="/">Home</a></li>
  <li>/</li>
  <li><a href="/recipe/<%=@recipe.id%>"><%=@recipe.name%> Detail</a></li>
  <li>/</li>
  <li>Edit <%=@recipe.name%></li>
</div>
<div class="wrapper">
  <h1>Edit <%=@recipe.name%> Recipe!</h1>

  <form action="/edit/<%=@recipe.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="input-group">
      <span class="input-group-addon"> Prepration Time: </span>
      <input id="name" type="number" class="form-control half" name="prep" placeholder="My Prepration Time!" value="<%=@recipe.prep_time%>">
      <select class="form-control half" name="prep-symbol">
        <option value="<%=@recipe.prep_time_symbol%>"></option>
        <option value="Hour">Hour</option>
        <option value="Minute">Minute</option>
      </select>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"> Cooking Time: </span>
      <input id="name" type="number" class="form-control half" name="cooking" placeholder="My Cooking Time!" value="<%=@recipe.cooking_time%>" >
      <select class="form-control half" name="cooking-symbol">
        <option value="<%=@recipe.cooking_time_symbol%>"></option>
        <option value="Hour">Hour</option>
        <option value="Minute">Minute</option>
      </select>
    </div>
    <br>
    <div class="existing-item">
      <span class="input-group-addon"> Tag: </span>
        <% @recipe.tags.each do |tag|%>
          <div class="tag">
            <input id="tag" type="text" class="form-control existing-input" name="<%=tag.name%>" placeholder="Tag Me!" value="<%=tag.name%>">
            <span class="btn btn-danger btn-sm existing-link hide_block">
              <span class="glyphicon glyphicon-minus"></span>
            </span>
          </div>
        <%end%>
    </div>
    <br>
    <div class="tag-group">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Add new Tag: </span>
      <div class="add_button">
        <input id="tag" type="text" class="form-control input" name="tags" placeholder="Tag Me!">
        <button type="button" class="btn btn-info btn-sm" id="add_new_tag">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
    <br>
    <div class="existing-item">
      <span class="input-group-addon"> Ingredient: </span>
        <% @recipe.ingredients.each do |ingredient|%>
          <div class="tag">
            <input id="tag" type="text" class="form-control existing-input" name="<%=ingredient.name%>" placeholder="Tag Me!" value="<%=ingredient.name%>">
            <span class="btn btn-danger btn-sm existing-link hide_block" >
              <span class="glyphicon glyphicon-minus"></span>
            </span>
          </div>
        <%end%>
    </div>
    <br>
    <div class="ingredient-group"></div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"> Add new Ingredient: </span>
      <div class="add_button">
        <input id="ingredient" type="text" class="form-control input" name="ingredients" placeholder="What will I have?">
        <button type="button" class="btn btn-info btn-sm" id="add_new_ingredient">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"> Rating: </span>
      <select class="form-control" id="rating" name="rating">
        <option value="<%=@recipe.rating%>"><%=@recipe.rating%></option>
        <option value="0">Please Rate Me!</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star</option>
        <option value="3">3 Star</option>
        <option value="4">4 Star</option>
        <option value="5">5 Star</option>
      </select>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"> Image: </span>
      <input type="text" class="form-control" name="img" placeholder="My picture!" value="<%=@recipe.img%>">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"> Instructions: </span>
      <textarea class="form-control" rows="5" id="instruction" name="instruction" placeholder="Each line should be separated by @!" value="<%=@recipe.instruction%>"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Add Recipe</button>
  </form>
</div>
